/* Import both Outfit and Playfair (All weights + Italics) */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  /* This lets you use font-playfair and font-outfit as Tailwind classes */
  --font-playfair: "Playfair Display", serif;
  --font-outfit: "Outfit", sans-serif;
}

/* Custom Utility Classes */
.playfair-italic {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-optical-sizing: auto;
}
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.outfit{
  font-family: "Outfit" , serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-8px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
.poppins {
  font-family: "Poppins", sans-serif;
}

.inter {
  font-family: "Inter", sans-serif;
 
}
.geist {
  font-family: "Archivo", sans-serif;}
